@media screen and (orientation:portrait) and (max-width: 640px) {
	body{
		width: 100%
	}
	
	#todoapp {
		margin: 75px 0 40px 0;
	}
	
	#todoapp h1 {
		font-size: 50px;
		top: -90px;
	}
	
	
	#new-todo, .edit, #todo-list li  {
		font-size: 18px;
	}
	
	#todo-list li .toggle:after {
		content: '√';
		line-height: 43px;
		font-size: 20px;
		font-weight: bold;
		color: #d9d9d9;
		text-shadow: none;
	}
	
	#todo-list li .toggle:checked:after {
	color: #85ada7;
	text-shadow: none;
	bottom: 1px;
	position: relative;
	}
	
	#todo-list li .destroy{
		text-shadow: 0 0 1px #000, 0 0 10px rgba(199, 107, 107, 0.8);
		
		-webkit-transform: scale(1.3);
		-moz-transform: scale(1.3);
		-ms-transform: scale(1.3);
		-o-transform: scale(1.3);
		transform: scale(1.3);
	}
	
	#todo-list li:hover .destroy {
		display: none;
	}
	
	#toggle-all {
		top: -51px;
	}
	
	#footer {
		color: #777;
		padding: 0 15px;
		position: absolute;
		right: 0;
		bottom: -60px;
		left: 0;
		height: 54px;
		z-index: 1;
		text-align: center;
	}
	#filters {
		margin: 0;
		padding: 0;
		list-style: none;
		position: absolute;
		right: 0;
		left: 0;
		bottom: 1px;
	}
	
	#filters li {
		display: inline-block;
		width: 32.3333%;
	}
	
	footer>p:first-child{
		padding-top: 15px;
	}
}

@media screen and (orientation:landscape) and (max-width: 640px) {
	body{
		width: 100%
	}
	
	#todoapp {
		margin: 75px 0 40px 0;
	}
	
	#todoapp h1 {
		font-size: 50px;
		top: -90px;
	}
	
	#new-todo, .edit, #todo-list li  {
		font-size: 18px;
	}
	
	#todo-list li:hover .destroy {
		display: none;
	}
	
	#todo-list li .toggle:after {
		content: '√';
		line-height: 43px;
		font-size: 20px;
		font-weight: bold;
		color: #d9d9d9;
		text-shadow: none;
	}
	
	#todo-list li .toggle:checked:after {
		color: #85ada7;
		text-shadow: none;
		bottom: 1px;
		position: relative;
	}
	
	#toggle-all {
		top: -51px;
	}
	
	#footer {
		color: #777;
		padding: 0 15px;
		position: absolute;
		right: 0;
		bottom: -60px;
		left: 0;
		height: 54px;
		z-index: 1;
		text-align: center;
	}
	
	#filters {
		margin: 0;
		padding: 0;
		list-style: none;
		position: absolute;
		right: 0;
		left: 0;
		bottom: 1px;
	}
	
	#filters li {
		display: inline-block;
		width: 32.3333%;
	}
	
	footer>p:first-child{
		padding-top: 15px;
	}
}